body{
  margin: 0;
  padding: 0
}

.App{
  position:relative;
text-align: center;
color : rgb(139, 111, 111);
background-color: antiquewhite;
 
 
}
span{
  
  display: flex;
  justify-content: space-between;
  
  
}
span>h3{
 display: flex;
 
}

p{
 
  
  height: 350px;
  width:225px ;
  background-color: rgb(224, 224, 224);
  margin:30px;
  
  
  
  
}   
p>img{
  
}


.nav-container{
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  font-size: 16px;
}



p:hover{
  height: 351px;
  width:226px ;
  background-color: rgb(233, 229, 229);
  margin:29px;
  opacity: 0.99;
  box-shadow: 10px 0px 10px 2px rgb(179, 161, 161);
}

.logo{
  align-self: center;
}